<div class="o-selected-items">

    <div class="list-group list-group-sm u-text--sm">

        <div *ngIf="!selected || !selected.length" class="list-group-item">
            <div class="t-fg--gray-md t-text--italic">Nothing selected</div>
        </div>

        <div *ngFor="let item of selected"
            class="list-group-item d-flex flex-justify-between flex-align-center">
            <div class="flex-1">
                <span class="icon-{{item.type.toLowerCase()}} is-themed"></span>
                {{item.label}}
            </div>
            <button type="button" class="btn btn-link u-mg-left--sm" (click)="remove(item)">
                <span class="fas fa-times-circle t-fg--danger"></span>
            </button>
        </div>

    </div>

    <div class="list-group list-group-sm u-text--sm u-mg-top--md">

        <!-- <div class="list-group-item d-flex flex-justify-between flex-align-center"
            [ngClass]="{'is-faded':!isAuthenticated()||!selected?.length}">

            <div class="flex-1">
                <span class="icon-gallery"></span>
                Add Selected to a Gallery
            </div>
            <button type="button" class="btn btn-link"
                (click))="openDialog()"
                [disabled]="!isAuthenticated()">
                <span class="gpicons plus-circle t-fg--success"></span>
            </button>
        </div> -->

        <div class="list-group-item d-flex flex-justify-between flex-align-center"
            [ngClass]="{'is-faded':!selected?.length}"
            (click)="clear()">
            <div class="flex-1">Clear Selections</div>
            <button type="button" class="btn btn-link">
                <span class="fas fa-times-circle t-fg--danger"></span>
            </button>
        </div>
    </div>

</div>
