.gpicons {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.gpicons.asterisk:before { content: "\002a"; }
.gpicons.arrow-left:before { content: "\e091"; }
.gpicons.arrow-left-circle:before { content: "\e132"; }
.gpicons.arrow-right:before { content: "\e092"; }
.gpicons.arrow-right-circle:before { content: "\e131"; }
.gpicons.backward:before { content: "\e071"; }
.gpicons.ban-circle:before { content: "\e090"; }        
.gpicons.bars:before { content: "\e236"; }
.gpicons.briefcase:before { content: "\e139"; }
.gpicons.calendar:before { content: "\e109"; }
.gpicons.check:before { content: "\e067"; }
.gpicons.check-circle:before { content: "\e084"; }
.gpicons.chevron-up:before { content: "\e113"; }
.gpicons.chevron-down:before { content: "\e114"; }
.gpicons.chevron-left:before { content: "\e079"; }
.gpicons.chevron-right:before { content: "\e080"; }
.gpicons.comment:before { content: "\e111"; }
.gpicons.configure:before { content: "\e019"; }
.gpicons.crosshairs:before { content: "\e087"; }
.gpicons.dashboard:before { content: "\e141"; }
.gpicons.download:before { content: "\e197"; }
.gpicons.edit:before { content: "\270f"; }
.gpicons.ellipsis-h:before { content: "\e234"; }
.gpicons.ellipsis-v:before { content: "\e235"; }
.gpicons.exclamation-circle:before { content: "\e101"; }
.gpicons.external-link:before { content: "\e164"; }
.gpicons.eye:before { content: "\e105"; }
.gpicons.eye-closed:before { content: "\e106"; }
.gpicons.file-download:before { content: "\e202"; }
.gpicons.font:before { content: "\e047"; }
.gpicons.fast-backward:before { content: "\e070"; }
.gpicons.fast-forward:before { content: "\e076"; }
.gpicons.forward:before { content: "\e075"; }
.gpicons.hdd:before { content: "\e121"; }
.gpicons.heart:before { content: "\e005"; }
.gpicons.home:before { content: "\e021"; }
.gpicons.hourglass:before { content: "\231b"; }
.gpicons.info-circle:before { content: "\e086"; }
.gpicons.link:before { content: "\e144"; }
.gpicons.map-marker:before { content: "\e062"; }
.gpicons.minus:before { content: "\2212"; }
.gpicons.minus-circle:before { content: "\e082"; }
.gpicons.ok:before { content: "\e013"; }
.gpicons.picture:before { content: "\e060"; }
.gpicons.plus:before { content: "\002b"; }
.gpicons.plus-circle:before { content: "\e081"; }
.gpicons.question:before { content: "\e085"; }
.gpicons.question-circle:before { content: "\e085"; }
.gpicons.refresh:before { content: "\e031"; }
.gpicons.search:before { content: "\e003"; }
.gpicons.sort-asc:before { content: "\e156"; }
.gpicons.sort:before, .gpicons.sort-desc:before { content: "\e155"; }
.gpicons.square:before { content: "\e157"; }
.gpicons.tag:before { content: "\e041"; }
.gpicons.tags:before { content: "\e042"; }
.gpicons.times:before { content: "\e014"; }
.gpicons.times-circle:before { content: "\e088"; }
.gpicons.trash:before { content: "\e020"; }
.gpicons.upload:before { content: "\e198"; }
.gpicons.user:before { content: "\e008"; }
.gpicons.warning:before { content: "\e107"; }
.gpicons.warning-triangle:before { content: "\e107"; }





.u-spin {
    animation: spin .5s infinite linear;
    -ms-animation: spin .5s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
