
// @import (reference) "../../node_modules/geoplatform.style/src/less/variables.less";

.c-query-filter.card {

    background: transparent;
    box-shadow: none;
    padding:    0;
    font-size:  1em;
    margin-bottom: 2em;

    .card-title {
        display:         flex;
        justify-content: flex-start;
        align-items:     center;
        font-size:       0.875em;    //override default card-title style
        margin-bottom:   0;
        min-height:      2em;    //for those without collapse buttons
        color:           lighten(#333, 15%);
        border-bottom:   1px solid #ddd;
        text-transform:  uppercase;
        font-weight:     700;

        .btn-link {
            color: lighten(#333, 15%);
        }
    }

    .c-facets {

        font-size: 0.875rem;

        & > .c-facet__value {
            border-width:   0 0 0 2px;
            border-color:   transparent;
            border-style:   solid;
            color:          darken(#777, 5%);
            padding:        0.5em;
            font-size:      1em; //override default c-facet__value style

            &.disabled { cursor: default; }

            &:not(.disabled):hover {
                background: fadeOut(#ddd, 10%);
                color:              #333;
            }

            &.active {
                background: fadeOut(#2079c5, 75%);
                border-left-color:  #2079c5;
                color:              #333;
            }

            .badge {
                float: right;
                background-color: #777;
            }
        }

        &.is-collapsed > .c-facet__value.active {
            background-color: transparent;
            border-color:     transparent;
            color:            darken(#777, 5%);
        }

        //any inputs that aren't wrapped in a c-facet__value should have a bit of margin
        .input-group-slick, select {
            margin-top: 0.5em;
        }
        //otherwise, don't...
        .c-facet__value > .input-group-slick,
        .c-facet__value > select {
            margin-top:     0;
            margin-left:  -.5em;
            margin-right: -.5em;
        }
    }

}




.c-facets {
    // .u-text--sm;
}

.c-facets > .c-facet__value {

    display:   block;
    text-decoration: none;
    cursor:    pointer;
    padding:   0.5em;
    font-size: 0.875em;
}

.c-facets > .c-facet__value.active {
    background: #2079c5;
    color: #fff;
}

// for list groups in browse filters
.c-facets {

    & > li > a,
    & > .c-facet__value {
        opacity:    1;
        transition: opacity ease-in-out 0.5s;
    }

    &.is-collapsed li > a:not(.active),
    &.is-collapsed > .c-facet__value:not(.active) {
        opacity: 0;
        height: 0;
        padding: 0;
        border: none;
        margin-bottom: 0;
        overflow: hidden;
    }
    &.is-collapsed li > a.active,
    &.is-collapsed > .c-facet__value.active {
        color: #333;
        background-color: transparent;
    }
}


//override selected value styles when expanded for specific filters
.c-filter__recommended-terms .c-facets > .c-facet__value.active {
    background: transparent;
    color: #333;
}

.c-facets > .c-facet__value .form-control {
    //font-size: 1rem;    //override smaller size from parent
}
