

.header__menu {

    float:  right;
    margin: 0;
    padding:0;
    list-style-type: none;
    
    .open > .dropdown-menu {
        z-index: 2;
    }

    & > li {
        display: inline-block;

        & > a {
            font-size: 1rem;
            color: @color-gray-md;
            // position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 1rem .5rem;
        }

        &.active {
            background: transparent;

            & > a {
                border-bottom: 0.25rem solid @color-accent;
                padding-bottom: 0.75rem;
            }
        }
    }

    a, a:visited, .btn-link, a.btn-link {
        text-decoration: none;
        font-size:  1rem;
        color:      @color-gray-dk;
    }
}