
<div class="input-group-slick flex-1">
    <span class="fas fa-search"></span>
    <input type="text" class="form-control"
        placeholder="{{placeholder}}"
        [(ngModel)]="searchString" (keyup.enter)="onKeyUp($event)">
    <button type="button" class="btn btn-light" title="Clear keywords"
        *ngIf="searchString?.length" (click)="clear()">
        <span class="fas fa-times"></span>
    </button>
</div>

<button type="button" class="btn btn-secondary"
    [disabled]="!searchString||!searchString.length"
    (click)="onValueChange(searchString)"
    title="Search the GeoPlatform">
    Search
</button>
